<h1>Welcome!</h1>
<div>
<p>Brunch put a bird on it plaid, readymade Carles butcher farm-to-table. Kitsch cardigan tattooed ugh stumptown heirloom. Disrupt 3 wolf moon gluten-free tattooed messenger bag, selvage try-hard jean shorts photo booth Godard. Post-ironic DIY cliche Godard, Blue Bottle health goth Wes Anderson farm-to-table. Post-ironic gentrify yr bitters. Migas squid whatever umami actually. Echo Park keytar Intelligentsia kogi cronut ugh.</p>
</div>

<h2>Subscription Plans <%= " - Sign in to Subscribe!" unless customer_signed_in? %> </h2>
<div class="cards">
<%- @plans.each do |p| %>
  <div class="card one-third">
    <!-- <div class="card-image"> -->
    <div class="card-header">
      <h3><%= p.name %></h3>
    </div>
    <div class="card-copy">
    <% if customer_signed_in? %>
      <!-- <div class="card-header"> -->
        <%= link_to "Subscribe to #{p.name}", new_subscription_path(:plan_id => p.id), :method => :get, class: "btn green" %>
      <!-- </div> -->
    <% end %>
     <!-- <div class="card-copy"> -->
      <div><strong>Price:</strong> <%=  number_to_currency(p.amount/100.0, format: "%u%n") %></div>
      <div><strong>Description:</strong> <%= p.metadata.description %></div>
    </div>
  </div>
<% end %>
