<h2>User Profile</h2>

<div id="customer_details">
  <div><strong>Email: </strong><%= @customer.email %></div>
  <div><strong>Customer since: </strong><%= DateTime.strptime(@customer.created.to_s, '%s').to_date %></div>
  <div><strong>Currency: </strong><%= @customer.currency.upcase unless @customer.currency.nil? %></div>
  <div><strong>Account Balance: </strong><%=  number_to_currency(@customer.account_balance/100.0, format: "%u%n") %></div>
</div>

<br>
<div id="card_details">
  <h3>Cards</h3>
  <%= render partial: "cards/cards_creator", locals: {customer: @customer} %>
  <%= render partial: "cards/cards_list" %>
</div>

<br>
<div id="subscription_details">
  <h3>Subscriptions</h3>
  <%= render partial: "subscriptions/subscriptions_list" %>
</div>
