
<h2>Subscriptions</h2>

<%- if @customer.subscriptions.any? %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Plan</td>
        <td>Details</td>
        <td>Start Date</td>
        <td>End Date</td>
        <td></td>
      </td>
    </thead>
    <tbody>
      <% @customer.subscriptions.each do |s| %>
        <tr>
          <td><%= s.plan.name %></td>
          <td><%= s.plan.metadata.description %></td>
          <td><%= DateTime.strptime(s.current_period_start.to_s, '%s').to_date %></td>
          <td><%= DateTime.strptime(s.current_period_end.to_s, '%s').to_date %></td>
          <td><%= link_to "Cancel now", subscription_path(s.id), :method => :delete, :data => {:confirm => 'Are you sure?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%- else -%>
  You do not have any subscriptions. <%= link_to "Subscribe here!", root_path %>
<% end %>
