<%- if @cards.any? %>
  <table id="tbl_cards" class="tables">
    <thead>
      <tr>
        <th></th>
        <th>Card Number</th>
        <th>Expiration</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cards.each do |c| %>
        <tr>
          <td><%- if c.id == @customer.default_source -%>DEFAULT<%- end -%></td>
          <td>**** **** **** <%= c.last4 %></td>
          <td>
            <%- if c.exp_month.to_s.length < 2 %>
              0<%= c.exp_month %>/<%= c.exp_year %>
            <%- else %>
              <%= c.exp_month %>/<%= c.exp_year %>
            <% end %>
          </td>
          <td>
            <div><strong>Name:</strong> <%= c.name %></div>
            <div><strong>Address:</strong> <%= c.address_line1 %></div>
            <%- if !c.address_line2.nil? %>
              <div><%= c.address_line2 %></div>
            <% end %>
            <div><strong>City:</strong> <%= c.address_city %></div>
            <div><strong>State:</strong> <%= c.address_state %></div>
            <div><strong>Zip:</strong> <%= c.address_zip %></div>
            <div><strong>Country:</strong> <%= c.address_country %></div>
          </td>
          <td class="button_td">
            <%= button_to "Edit Card", edit_card_path(c.id), :method => :get, class: "btn green small" %>
            <%- if c.id != @customer.default_source -%>
              <%= button_to "Set as Default", card_path(c.id, :set_default => true), :method => :put, class: "btn orange small" %>
            <% end %>
            <%= button_to "Delete Card", card_path(c.id), :method => :delete, :data => {:confirm => 'Are you sure?'}, class: "btn red small" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%- else -%>
  You do not have any cards. <%= link_to "Add a card", new_card_path %>
<% end %>
