<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stripe Integration<%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <header class="navigation" role="banner">
        <div class="navigation-wrapper">
          <h1><%= link_to 'Stripe Integration', root_path, :class => "logo"  %></h1>
          <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">&#9776;</a>
          <nav class="right" role="navigation">
            <ul id="js-navigation-menu" class="navigation-menu show">
              <li class="nav-link"><%= link_to 'Home', root_path %></li>
              <% if customer_signed_in? %>

                <li class="nav-link more">
                  <a href="#">Profile<span class="caret"></span></a>
                  <ul class="submenu">
                    <li><%= link_to "Manage Profile", profiles_path %></li>
                    <li><%= link_to "Subscriptions", subscriptions_path %></li>
                    <li><%= link_to "Payment Methods", cards_path %></li>
                    <li><%= link_to "Logout", destroy_customer_session_path, :method => :delete %></li>
                  </ul>
                </li>

              <% else %>
                <li class="nav-link"><%= link_to "Login", new_customer_session_path %></li>
                <li class="nav-link"><%= link_to "Sign up!", new_customer_registration_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </header>
      <div id="main-container" class="container-fluid">
        <%- if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <%- if alert.present? %>
          <p class="alert"><%= alert %></p>
        <% end %>

        <%= yield %>

      </div>
    </div>
  </body>
</html>
